apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: horizon-hpa
  namespace: uploads
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: horizon-workers
  minReplicas: 2
  maxReplicas: 30
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
